# Analytics
## Google Analytics Tracking ID (e.g. G-15600209)
GA_ID=

# Database 
## MongoDB Atlas or Community, Atlas is recommended
DB_USERNAME=
DB_PASSWORD=

## Server IP Address (e.g. cluster-0.fuhua.mongodb.net)
DB_IP=

## Cluster Name (MongoDB Atlas)
DB_APPNAME=

# Enviroment
## Type `web` on providers like Vercel, (e.g. web)
## Type `desktop` if you want to build a desktop version.
NEXT_PLATFORM=