@import 'tailwindcss';

@config "../tailwind.config.ts";

@custom-variant dark (&:is(.dark *));

@theme {
  /*
    They should be the same as the variables in tailwind.config.ts
    if you want to use as w-variable or you should use w-[var(--variable)]
  */

  --topbar-height : 4rem;

  --sidebar-width : 16rem;

  --view-width: 60%;

  --handle-width: 2px;

  --transition-duration: 300ms;
  --transition-timing: ease-in-out;

  --radius: 0.5rem;
  --radius-sm: 0.3rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
}

@theme inline {
  --text-*: initial;
  --text-xs: 0.75rem;
  --text-base: 1.1rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.563rem;
  --text-3xl: 1.953rem;
  --text-4xl: 2.441rem;
  --text-5xl: 3.052rem;
}

  :root {
    --background: oklch(0.948 0.019 93.667);
    --foreground: oklch(0.224 0.015 107.544);
    --divider: oklch(0.569 0.022 103.965);
    --focus: oklch(0.479 0.093 108.664);

    /* 内容 */
    --content1: oklch(98% 0.018 92.679);
    --content2: oklch(85% 0.018 92.679);
    --content3: oklch(75% 0.018 92.679);
    --content4: oklch(60% 0.018 92.679);

    --default: oklch(98% 0.018 92.679);
    --default-50: oklch(98% 0.018 92.679);
    --default-100: oklch(94% 0.018 92.679);
    --default-200: oklch(88% 0.018 92.679);
    --default-300: oklch(78% 0.018 92.679);
    --default-400: oklch(68% 0.018 92.679);
    --default-500: oklch(55% 0.018 92.679);
    --default-600: oklch(45% 0.018 92.679);
    --default-700: oklch(35% 0.018 92.679);
    --default-800: oklch(25% 0.018 92.679);
    --default-900: oklch(15% 0.018 92.679);
    --default-foreground: oklch(14% 0.018 92.679);

    --primary: oklch(0.479 0.0928 108.66);
    --primary-50: oklch(0.9808 0.0327 108.85);
    --primary-100: oklch(0.9428 0.0648 107.58);
    --primary-200: oklch(0.9081 0.0988 107.59);
    --primary-300: oklch(0.8731 0.132 108.37);
    --primary-400: oklch(0.8377 0.154 108.49);
    --primary-500: oklch(0.7608 0.1497 108.62);
    --primary-600: oklch(0.6324 0.1238 108.38);
    --primary-700: oklch(0.496 0.0966 108.71);
    --primary-800: oklch(0.3505 0.067 108.24);
    --primary-900: oklch(0.1876 0.0398 105.03);
    --primary-foreground: oklch(1 0 0);

    --secondary: oklch(0.4817 0.0451 106.36);
    --secondary-50: oklch(0.9691 0.0197 106.76);
    --secondary-100: oklch(0.9016 0.0254 106.9);
    --secondary-200: oklch(0.8354 0.0339 107.11);
    --secondary-300: oklch(0.7684 0.0452 105.98);
    --secondary-400: oklch(0.699 0.058 106.67);
    --secondary-500: oklch(0.6146 0.058 105.62);
    --secondary-600: oklch(0.5128 0.0488 106.53);
    --secondary-700: oklch(0.4069 0.0377 105.94);
    --secondary-800: oklch(0.293 0.0288 105.18);
    --secondary-900: oklch(0.1675 0.0365 109.77);
    --secondary-foreground: oklch(1 0 0);

    --success: oklch(0.4754 0.0525 166.9);
    --success-50: oklch(96% 0.0214 175.01);
    --success-100: oklch(90% 0.0286 175.01);
    --success-200: oklch(84% 0.0357 175.01);
    --success-300: oklch(78% 0.0429 175.01);
    --success-400: oklch(72% 0.05 175.01);
    --success-500: oklch(66% 0.0571 175.01);
    --success-600: oklch(58% 0.0457 175.01);
    --success-700: oklch(49% 0.0343 175.01);
    --success-800: oklch(39% 0.0238 175.01);
    --success-900: oklch(28% 0.0312 175.01);
    --success-foreground: oklch(1 0 0);

    /* --warning: oklch(50% 0.15 80);
    --warning-50: oklch(95% 0.05 80);
    --warning-100: oklch(88% 0.07 80);
    --warning-200: oklch(80% 0.09 80);
    --warning-300: oklch(70% 0.11 80);
    --warning-400: oklch(60% 0.13 80);
    --warning-500: oklch(50% 0.15 80);
    --warning-600: oklch(40% 0.14 80);
    --warning-700: oklch(30% 0.13 80);
    --warning-800: oklch(22% 0.12 80);
    --warning-900: oklch(15% 0.11 80);
    --warning-foreground: oklch(0.224 0.015 107.544); */

    --danger: oklch(50% 0.15 25);
    --danger-50: oklch(95% 0.05 25);
    --danger-100: oklch(88% 0.07 25);
    --danger-200: oklch(80% 0.09 25);
    --danger-300: oklch(70% 0.11 25);
    --danger-400: oklch(60% 0.13 25);
    --danger-500: oklch(50% 0.15 25);
    --danger-600: oklch(40% 0.14 25);
    --danger-700: oklch(30% 0.13 25);
    --danger-800: oklch(22% 0.12 25);
    --danger-900: oklch(15% 0.11 25);
    --danger-foreground: oklch(0.224 0.015 107.544);
  }

  .dark {
    --background: oklch(0% 0 0);
    --foreground: oklch(0.912 0.018 92.693);
    --divider: oklch(0.654 0.023 101.179);
    --focus: oklch(0.825 0.109 107.392);

    --content1: oklch(19% 0.015 107.789);
    --content2: oklch(35% 0.015 107.789);
    --content3: oklch(45% 0.015 107.789);
    --content4: oklch(55% 0.015 107.789);

    --default: oklch(34% 0.015 101.954);
    --default-50: oklch(15% 0.015 107.789);
    --default-100: oklch(25% 0.015 107.789);
    --default-200: oklch(35% 0.015 107.789);
    --default-300: oklch(45% 0.015 107.789);
    --default-400: oklch(55% 0.015 107.789);
    --default-500: oklch(65% 0.015 107.789);
    --default-600: oklch(75% 0.015 107.789);
    --default-700: oklch(85% 0.015 107.789);
    --default-800: oklch(92% 0.015 107.789);
    --default-900: oklch(98% 0.015 107.789);
    --default-foreground: oklch(98% 0.015 107.789);

    --primary: oklch(0.825 0.109 107.392);
    --primary-50: oklch(0.1789 0.0379 104.73);
    --primary-100: oklch(0.3286 0.0573 107.78);
    --primary-200: oklch(0.4637 0.0798 107.3);
    --primary-300: oklch(0.5883 0.1036 107.87);
    --primary-400: oklch(0.7068 0.1244 108.14);
    --primary-500: oklch(0.7886 0.1258 107.95);
    --primary-600: oklch(0.8349 0.1042 107.24);
    --primary-700: oklch(0.8809 0.078 107.1);
    --primary-800: oklch(0.9279 0.0511 106.14);
    --primary-900: oklch(0.9755 0.0288 109.04);
    --primary-foreground: oklch(0.224 0.015 107.544);

    --secondary: oklch(0.8259 0.0485 103.47);
    --secondary-50: oklch(0.172 0.0375 109.77);
    --secondary-100: oklch(0.3012 0.0348 103.57);
    --secondary-200: oklch(0.4183 0.0487 103.66);
    --secondary-300: oklch(0.5309 0.063 103.82);
    --secondary-400: oklch(0.6346 0.0753 103.82);
    --secondary-500: oklch(0.7193 0.0742 103.66);
    --secondary-600: oklch(0.7811 0.0595 103.34);
    --secondary-700: oklch(0.8454 0.0431 102.86);
    --secondary-800: oklch(0.9074 0.0306 104.96);
    --secondary-900: oklch(0.9687 0.0187 96.86);
    --secondary-foreground: oklch(0.3099 0.0419 108.61);

    --success: oklch(0.8206 0.0541 165.6);
    --success-50: oklch(17% 0.0354 163.53);
    --success-100: oklch(29% 0.0402 163.35);
    --success-200: oklch(40% 0.045 163.17);
    --success-300: oklch(50% 0.05 162.99);
    --success-400: oklch(60% 0.055 162.81);
    --success-500: oklch(69% 0.059 162.63);
    --success-600: oklch(77% 0.053 162.45);
    --success-700: oklch(85% 0.047 162.27);
    --success-800: oklch(92% 0.041 162.09);
    --success-900: oklch(98% 0.035 161.91);
    --success-foreground: oklch(0.3031 0.0533 167.32);

    /* --warning: oklch(60% 0.13 80);
    --warning-50: oklch(15% 0.11 80);
    --warning-100: oklch(22% 0.12 80);
    --warning-200: oklch(30% 0.13 80);
    --warning-300: oklch(40% 0.14 80);
    --warning-400: oklch(50% 0.15 80);
    --warning-500: oklch(60% 0.13 80);
    --warning-600: oklch(70% 0.11 80);
    --warning-700: oklch(80% 0.09 80);
    --warning-800: oklch(88% 0.07 80);
    --warning-900: oklch(95% 0.05 80);
    --warning-foreground: oklch(0.224 0.015 107.544); */

    --danger: oklch(0.8383 0.0891 26.76);
    --danger-50: oklch(0.1544 0.0641 351.65);
    --danger-100: oklch(0.2692 0.1078 8.01);
    --danger-200: oklch(0.3798 0.1504 16.19);
    --danger-300: oklch(0.4813 0.1925 21.81);
    --danger-400: oklch(0.5781 0.2327 25.3);
    --danger-500: oklch(0.6323 0.2452 25.2);
    --danger-600: oklch(0.6709 0.2092 23.59);
    --danger-700: oklch(0.7509 0.1456 23.64);
    --danger-800: oklch(0.8526 0.0801 26.44);
    --danger-900: oklch(0.9422 0.0289 25.56);
    --danger-foreground: oklch(0.3275 0.1336 27.32);
  }


@keyframes fadeIn  { from { opacity:0 } to { opacity:1 } }
@keyframes fadeOut { from { opacity:1 } to { opacity:0 } }

@layer utilities {
  .transition-base {
    @apply transition-all duration-300 ease-in-out;
  }
}

/* Typography */
h1 {
  @apply scroll-m-20 text-4xl font-bold tracking-tight;
}

h2 {
  @apply scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0
}

h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight
}

h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight
}

p {
  @apply leading-7 [&:not(:first-child)]:mt-6
}

header {
  user-select: none;
  -webkit-app-region: drag;
}
header button,
header a,
header input {
  -webkit-app-region: no-drag;
}